<main class="container mx-auto">
  <div>
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
        <form
          [formGroup]="registerFormGroup"
          (ngSubmit)="onSubmit(registerFormGroup.value)"
        >
          <h1 class="h3 mb-3">Kayıt Ol</h1>

          <div class="form-floating mb-3">
            <input
              [ngClass]="{
                'is-invalid': submitted && component.fullName.errors
              }"
              type="text"
              formControlName="fullName"
              class="form-control"
              id="fullName"
              placeholder="Ad Soyad"
              required
            />
            <label for="floatingInput">Ad Soyad</label>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.fullName.errors?.required"
              >Bu alanı boş geçemezsiniz.</small
            >
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="
                submitted &&
                (component.fullName.errors?.maxlength ||
                  component.fullName.errors?.minlength)
              "
              >Lütfen 2 ile 50 karakter arasında yazınız.</small
            >
          </div>
          <div class="form-floating mb-3">
            <input
              [ngClass]="{
                'is-invalid': submitted && component.userName.errors
              }"
              type="text"
              formControlName="userName"
              class="form-control"
              id="userName"
              placeholder="Kullanıcı Adı"
              required
            />
            <label for="floatingInput">Kullanıcı Adı</label>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.userName.errors?.required"
              >Bu alanı boş geçemezsiniz.</small
            >
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="
                submitted &&
                (component.userName.errors?.maxlength ||
                  component.userName.errors?.minlength)
              "
              >Lütfen 6 ile 50 karakter arasında yazınız.</small
            >
          </div>
          <div class="form-floating mb-3">
            <input
              [ngClass]="{
                'is-invalid': submitted && component.email.errors
              }"
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Mail</label>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.email.errors?.required"
              >Bu alanı boş geçemezsiniz.</small
            >
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.email.errors?.email"
              >Lütfen geçerli bir mail formatı giriniz. (example@example.com)
            </small>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="
                submitted &&
                (component.email.errors?.maxlength ||
                  component.email.errors?.minlength)
              "
              >Lütfen XxX ile 250 karakter arasında yazınız.</small
            >
          </div>
          <div class="form-floating mb-3">
            <input
              [ngClass]="{
                'is-invalid': submitted && component.password.errors
              }"
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <label for="floatingPassword">Şifre</label>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.email.errors?.required"
              >Bu alanı boş geçemezsiniz.</small
            >
          </div>
          <div class="form-floating mb-3">
            <input
              [ngClass]="{
                'is-invalid': submitted && component.confirmPassword.errors
              }"
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="Şifre Tekrar"
              formControlName="confirmPassword"
              required
            />
            <label for="floatingPassword">Şifre Tekrar</label>
            <small
              class="form-text text-muted invalid-feedback"
              *ngIf="submitted && component.email.errors?.required"
              >Bu alanı boş geçemezsiniz.</small
            >
            <small *ngIf="submitted && registerFormGroup.hasError('notSame')">Şifreler uyuşmuyor</small>
          </div>
          <button class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
          <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
        </form>
      </div>
    </div>
  </div>
</main>
