<div class="text-center container py-5 p-0">
  <!-- <div class="mb-3">
    <label for="filterText" class="form-label"
      ><h5>İlan başlığına göre ara</h5>
    </label>

    <input
      type="search"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Arama ifadesi giriniz..."
    />
  </div>
  <div class="form-group row py-2 d-flex justify-content-end">
    <div class="col-lg-3">
      <select
        id="sortByOption"
        class="form-control"
        (change)="changeOption($event.target)"
      >
        <option value="" selected disabled hidden>Sırala</option>
        <option
          *ngFor="let option of sortSelectOptions"
          value="{{ option.id }}"
        >
          {{ option.name }}
        </option>
      </select>
    </div>
  </div>
  <h4 *ngIf="!filterText" class="mt-4 mb-5 text-uppercase">
    <strong lang="tr">tüm kiralık araçlar</strong>
  </h4>
  <h4 *ngIf="filterText" class="mt-4 mb-5 text-uppercase">
    <strong lang="tr"
      >"{{ filterText | uppercase }}" ifadesine göre ilanlar</strong
    >
  </h4> -->

  <div class="row mx-5">
    <div
      *ngFor="let product of products"
      class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4 text-reset clearfix"
    >
      <div class="card">
        <div
          class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
          data-mdb-ripple-color="light"
        >
          <img
            *ngIf="product.images.length"
            class="img-rounded w-100"
            style="height: 200px"
            src="{{baseUrl.url}}/{{product.imagePath}}"
          />
          <img
            *ngIf="!product.images.length"
            class="img-rounded"
            style="height: 200px; width: auto"
            src="../../../../../assets/defaultProductImage.png"
          />
          <div class="mask mt-3">
            <div class="d-flex justify-content-start align-items-end h-100">
              <h2>
                <span class="badge bg-success ms-2">Ekonomik </span>
                <!-- <span
                
                  class="badge bg-warning ms-2"
                  >Orta Segment</span
                >
                <span
                 
                  class="badge bg-danger ms-2"
                  >Lüks</span
                > -->
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 lang="tr" style="min-height: 6rem" class="my-3">
            {{ product.name }}
          </h3>
          <h3 class="mb-3">{{ product.price | currency: "₺" }}</h3>

          <div class="row">
            <div class="col">
              <button (click)="addToBasket(product)" type="button" class="btn btn-success">
                <i class="bi bi-cart"> Sepete Ekle</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link"> {{ currentPageNo }}/{{ totalPageCount }} </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="[
                '/products',
                currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1
              ]"
            >
              Önceki
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let pageNo of pageList"
            routerLinkActive="active"
          >
            <a class="page-link" [routerLink]="['/products', pageNo]">
              {{ pageNo }}
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]="[
                '/products',
                currentPageNo + 1 >= totalPageCount
                  ? totalPageCount
                  : currentPageNo + 1
              ]"
            >
              Sonraki
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
