<!-- <a routerLink="">Home</a> | <a routerLink="products">Products</a> |
<a routerLink="basket">Basket</a> | <a routerLink="admin">Admin</a> |
<br /> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar scroll</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item m-2">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item m-2">
          <a
            class="nav-link"
            tabindex="-1"
            aria-disabled="true"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="loadComponent()"
            >Sepet</a
          >
        </li>

        <li class="nav-item m-2 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="basket">Basket</a></li>
          </ul>
        </li>
        <li class="nav-item m-2" *ngIf="authService.isAuthenticated">
          <a
            class="nav-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            routerLink="admin"
            >Admin</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex m-2">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <button
        *ngIf="!authService.isAuthenticated"
        class="btn btn-outline-success m-2 d-block"
        routerLink="register"
      >
        Kayıt Ol
      </button>
      <button
        *ngIf="!authService.isAuthenticated"
        class="btn btn-outline-success m-2 d-block"
        routerLink="login"
      >
        Giriş Yap
      </button>
      <button
        *ngIf="authService.isAuthenticated"
        class="btn btn-outline-danger m-2 d-block"
        (click)="signOut()"
        routerLink=""
      >
        Çıkış Yap
      </button>
    </div>
  </div>
</nav>
<div class="container my-3">
  <router-outlet></router-outlet>
</div>

<ngx-spinner
  name="s1"
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#FF0000"
  type="square-jelly-box"
  [fullScreen]="true"
>
</ngx-spinner>
<ngx-spinner
  name="s2"
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#FF0000"
  type="ball-atom"
  [fullScreen]="true"
>
</ngx-spinner>
<ngx-spinner
  name="s3"
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#FF0000"
  type="ball-triangle-path"
  [fullScreen]="true"
>
</ngx-spinner>
<ngx-spinner
  name="s4"
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#FF0000"
  type="pacman"
  [fullScreen]="true"
>
</ngx-spinner>

<!-- <app-baskets></app-baskets> -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
