<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput type="text" #name />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Price</mat-label>
  <input #price matInput type="number" value="0" min="0" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Unit In Stock</mat-label>
  <input #unitsInStock matInput type="number" value="0" min="0" />
</mat-form-field>

<button mat-mini-fab color="accent" class="mx-auto" aria-label="Example icon button with a plus one icon" (click)="addProduct(name,price,unitsInStock)">
  <mat-icon>plus_one</mat-icon>
</button>